@import "reset.scss";
@import "helpers.scss";

.main-header {
    .navbar {
        background-color: #F6F6F6;
        .navbar-brand {
            margin-left: 7%;
        }
        .collapse {
            .navbar-nav {
                .nav-link {
                    padding: 25px 10px;
                    margin: 0 1.2rem;
                    &:hover {
                        background-color: #FDEA00;
                    }
                }
                .nav-link__active {
                    background-color: #FDEA00;
                }
            }
        }
    }
}
