@import "reset.scss";
@import "helpers.scss";

.main-header {
    .navbar {
        background-color: #F6F6F6;
        .navbar-brand {
            margin-left: 7%;
        }
        .collapse,
        .collapsing {
            .navbar-nav {
                .nav-link {
                    padding: 25px 10px;
                    margin: 0 1.2rem;
                    &:hover {
                        background-color: #FDEA00;
                    }
                }
                .nav-link__active {
                    background-color: #FDEA00;
                }
            }
        }
    }
    .header-slider {
        .header-slider__single-slide {
            .header-slider__single-slide--background {
                background-image: url(../img/slider-background.jpg);
                background-position: center;
                background-size: cover;
                .first {
                    border: 10px solid green;
                    height: 500px;

                }
                .second {
                    border: 10px solid black;
                    height: 500px;
                }
            }
        }
    }
}
